
ShopApi/.vs/ShopApi/v16/.suo
ShopApi/.vs/ShopApi/DesignTimeBuild/.dtbcache.v2
ShopApi/ShopApi/bin/Debug/netcoreapp3.1/ShopApi.dll
ShopApi/ShopApi/bin/Debug/netcoreapp3.1/ShopApi.pdb
ShopApi/ShopApi/obj/Debug/netcoreapp3.1/ShopApi.csproj.CoreCompileInputs.cache
ShopApi/ShopApi/obj/Debug/netcoreapp3.1/ShopApi.dll
ShopApi/ShopApi/obj/Debug/netcoreapp3.1/ShopApi.pdb
ShopApi/ShopApi/appsettings.json
